body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently */
}

h1 {
    text-align:center;
    margin-top: 10%;
    font-size: 3rem;
    color: #ff004c;
}